head {
	background-color: blue;
}
body {
	color:black ;
	font-size:32px ;
	text-align:center;	
}
#myCarousel {
	
	height: 100px;
	width: 200px;
	margin-bottom:50px;
	
}
ul {
	list-style-type:none;
	
}